@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideFadeLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  5% {
    transform: translateX(0%);
    opacity: 1;
  }
  95% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideFadeRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  1% {
    transform: translateX(0%);
    opacity: 1;
  }
  99% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slider-left {
  animation: slideFadeLeft 6s linear forwards;
}

.animate-slider-right {
  animation: slideFadeRight 40s linear forwards;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
